@model IEnumerable<AdopcionPET.Models.Adoptante>

@{
    ViewData["Title"] = "Lista de Adoptantes";
}

<div class="container mt-4">
    <h2 class="mb-4">@ViewData["Title"]</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Correo Electrónico</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var adoptante in Model)
            {
                <tr>
                    <td>@adoptante.Nombre</td>
                    <td>@adoptante.CorreoElectronico</td>
                </tr>
            }
        </tbody>
    </table>
</div>
